*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkcyan;
    margin-top: 10px;
}
p.firstp::before{
    content: '"';
    display: inline-block;

}
p.firstp::after{
    content: '"';
    display: inline-block;
}

ul{
    list-style-type: none;
    padding-left: 12px;
}

li::before{
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    content: '\1F680';
    width: 33px;
}
/* p.firstp::after{
    content: '';
    display: inline-block;
    width: 20%;
    background-color: plum;
    height: 10px;
} */


